.mainContainer{
    display:flex; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    justify-content: center;
}

.mainContainer div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
}

.title{
    margin-top: 40px;
    margin-bottom: 20px;
    display:flex; 
    flex-direction: column; 
    justify-content: center;
    align-items:center; 
}
.title p{
    margin-top:10px; 
}
.options{
    border: 1px solid black; 
}