.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* THIS is important */
  width: 100%; 
justify-content: center;


}

.verticalSlider {
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr;
  width: 8px;
  height: 200px;
}
.resizerOuterContainer{
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap; 
    align-items: center; 
    width:100%; 
    border: 3px solid black; 
    gap: 0rem; /* optional */
    padding: 0px; 
}

.resizerInnerContainer{
display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

}

.imageWrapper {
  flex-shrink: 1;       /* allows image to shrink if container is small */
  flex-grow: 1;         /* image can grow to available space */
  display: flex;
  justify-content: center;
  max-width: 200px;     /* optional max */
  min-width: 50px;     /* optional min width */

}